@model TaskDetailModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "TaskCreate";

    var userId = Context.Session.GetString("userid");
    if (userId != null)
        Layout = "~/Views/Shared/_Layout_LogIn.cshtml";
}

<link rel="stylesheet" href="~/css/TaskDetail/TaskDetail.css" />

<div class="task_create mx-auto">
    <div class="box">
        <div class="header">
            <img src="~/Resources/Images/TaskDetail/task_create.png" />
            <h1>Create A Task for Our Heroes</h1>
        </div>
        <form id="task_create_form" asp-controller="TaskDetail" asp-action="Create" method="post">
            <div class="form-group">
                <label for="title">Task Title</label>
                <input asp-for="Title" type="text" class="form-control" id="title" aria-describedby="title">
                <small id="titleHelp" class="form-text text-muted">Pick a title that will catch user attention</small>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea asp-for="Description" class="form-control" id="description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="job_type">Job Type</label>
                <select asp-for="JobType" class="form-control" id="job_type">
                    <option>Select a job type</option>
                    <option>One time task</option>
                    <option>Temporary task - more than one day</option>
                    <option>Permanent Part Time</option>
                    <option>Permanent Full Time</option>
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="money_offer">Money Offer</label>
                    <input asp-for="MoneyOffer" type="text" class="form-control" id="money_offer" placeholder="total money for the task">
                </div>
                <div class="form-group col-md-4">
                    <label for="period">Work Period</label>
                    <input asp-for="WorkPeriod" type="text" class="form-control" id="period" placeholder="the time need to finish the task">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Create Task</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="~/js/TaskDetail/TaskDetail.js"></script>
<script type="text/javascript" src="~/js/TaskDetail/TaskDetail_EventHandler.js"></script>

