@model TaskDetailModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "TaskCard";

    var userId = Context.Session.GetString("userid");
    if (userId != null)
        Layout = "~/Views/Shared/_Layout_LogIn.cshtml";
}

<link rel="stylesheet" href="~/css/TaskDetail/TaskDetail.css" />

<div class="task_card mx-auto">
    <div class="box">
        <img src="~/Resources/Images/TaskDetail/task_icon.png" alt="avatar" style="width:100%">
        <h2>@Model.Title</h2>
        <form id="task_info_form">
            <div class="form-group row margin-bottom">
                <label for="work_type" class="col-sm-5 col-form-label">Work Type</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control-plaintext" id="work_type" value=@Model.JobType readonly>
                </div>
            </div>
            <div class="form-group row margin-bottom">
                <label for="Offer" class="col-sm-5 col-form-label">Offer</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control-plaintext" id="offer" value=@Model.MoneyOffer readonly>
                </div>
            </div>
            <div class="form-group row margin-bottom">
                <label for="work_period" class="col-sm-5 col-form-label">Work Period</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control-plaintext" id="work_period" value=@Model.WorkPeriod readonly>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="detail_btn" asp-controller="TaskDetail" asp-action="Details" asp-route-id=@Model.Id>Detail</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="~/js/TaskDetail/TaskDetail.js"></script>
<script type="text/javascript" src="~/js/TaskDetail/TaskDetail_EventHandler.js"></script>
