@model SignUpModel
@using Microsoft.AspNetCore.Http

@*
    Page for Sign Up - Put under Login View so they share the same controller and model
*@
@{
    ViewData["Title"] = "Sign Up";

    var userId = Context.Session.GetString("userid");
    if (userId != null)
        Layout = "~/Views/Shared/_Layout_LogIn.cshtml";
}
<link rel="stylesheet" href="~/css/Login/Signup.css" />

<form style="border:1px solid #ccc; width: 70%" class="mx-auto" asp-controller="Login" asp-action="SubmitSignUp" method="post">
    <div class="container">
        <div class="header">
            <img src="~/Resources/Images/Login/superhero.png" />
            <h1>The first step to become a hero</h1>
        </div>

        <p>Please fill in this form to create an account.</p>
        <hr>

        <label for="email"><b>Email</b></label>
        <input asp-for="Email" type="text" placeholder="Enter Email" name="email" required>

        <label for="urname"><b>Username</b></label>
        <input asp-for="Username" type="text" placeholder="Choose a username" required>

        <label for="psw"><b>Password</b></label>
        <input asp-for="Password" type="password" placeholder="Enter Password" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </div>
</form>