@model HomeModel

@{
    ViewData["Title"] = "Task Heroes";
    var profile_image = "~/Resources/Images/UserProfile/profile_picture_2.jpg";
    var user_review = 4.5;

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/Home/Home.css" />
<input type="hidden" id="user_review" name="user_review" value=@user_review />

<h1 class="display-4">Current Tasks and Users</h1>

<div class="home_container">
    <!-- List the most recent 3 task cards -->
    @foreach (var task in Model.ListOfPostings)
    {
        <div class="container">
            <div class="box">
                <img src="~/Resources/Images/TaskDetail/task_icon.png" alt="avatar" style="width:100%">
                <h2>@task.Title</h2>
                <form id="task_info_form">
                    <div class="form-group row margin-bottom">
                        <label for="work_type" class="col-sm-5 col-form-label">Work Type</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control-plaintext" id="work_type" value=@task.JobType readonly>
                        </div>
                    </div>
                    <div class="form-group row margin-bottom">
                        <label for="Offer" class="col-sm-5 col-form-label">Offer</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control-plaintext" id="offer" value=@task.MoneyOffer readonly>
                        </div>
                    </div>
                    <div class="form-group row margin-bottom">
                        <label for="work_period" class="col-sm-5 col-form-label">Work Period</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control-plaintext" id="work_period" value=@task.WorkPeriod readonly>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="detail_btn" asp-controller="TaskDetail" asp-action="Details" asp-route-id=@task.Id>Detail</button>
                </form>
            </div>
        </div>
    }
    <!-- List the most recent 3 users -->
    @foreach (var user in Model.ListOfUsers)
    {
        <div class="container">
            <div class="box">
                <img src="@Url.Content(profile_image)" alt="John" style="width:100%">
                <h1>@(user.FirstName + " " + user.LastName)</h1>
                <form id="user_card_form">
                    <div class="form-group mx-auto row margin-bottom">
                        <textarea id="description" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' readonly>
                                @user.Description
                        </textarea>
                    </div>
                    <div class="form-group row mx-auto margin-bottom">
                        <label for="user_rating" class="col-form-label">User Rating</label>
                        <div class="col-sm-7">
                            <div class="stars-outer">
                                <div class="stars-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mx-auto">
                        <label for="member_since" class="col-form-label">Member Since</label>
                        <div class="col-sm-7">
                            <input type="datetime" class="form-control-plaintext" id="member_since" value=@user.DateCreated>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }

</div>

<script type="text/javascript" src="~/js/Home/Home.js"></script>